.App {
text-align: center;
background: rgb(174,243,231);
background: radial-gradient(circle, rgba(174,243,231,1) 28%, rgba(142,227,239,1) 53%);
min-height: 98vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#drum-machine{
  position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
  width: 800px;
  height: 450px;
  background-color: #FF87AB;
  border-radius: 20px;
  padding: 10px;

}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#AEF3E7;
  color: black;
  text-align: center;
  height: 30px;
  font-family: 'Gugi', cursive;
}

#header{
  font-family: 'Gugi', cursive;
  font-size: 50px;
}

.drum-pad{
  width: 50px;
  height: 50px;
  background-color: #AEF3E7;
  border-color: black 1px;
  border-radius: 20px;
  padding: 5px;
  font-family: 'Gugi', cursive;
  font-size: 40px;
}